.blue{
	// background-color: rgb(248, 245, 245);
	height: 500px;
}




//==============

.user__box{
	position: relative;
	&:hover .user__drop{
		opacity: 1;
		height: auto;
		overflow: visible;
	}
	&:hover .user__drop-list{
		opacity: 1;
		height: auto;
		overflow: visible;
		width: 270px;
		z-index: 10;
	}
	.user__drop-list{
		top: 0;
		right: 0;
		position: absolute;
		padding-top: 77px;
		width: 0;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
	.user__drop{
		padding-top: 20px;
		opacity: 0;
		height: 0;
		overflow: hidden;
		transition: all .5s;
		position: relative;
	} 
}
.user__drop::before {
	top: -21px;
	right: 21px;
	content: '';
	position: absolute;
	border: 10px solid transparent;
	border-bottom: 10px solid $btn;
}
.user__drop .lnr{
	margin-right: 15px;
}




//==================
.home{
	position: relative;
	&:hover .home__drop{
		opacity: 1;
		height: auto;
		overflow: visible;
	}
	&:hover .home__drop-list{
		opacity: 1;
		height: auto;
		overflow: visible;
		width: 270px;
	}
	.home__drop-list{
		position: absolute;
		padding-top: 31px;
		width: 0;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
	.home__drop{
		padding-top: 0px;
		opacity: 0;
		height: 0;
		overflow: hidden;
		transition: all .5s;
	} 
}
//==============
.allprod{
	position: relative;
	&:hover .allprod__drop{
		opacity: 1;
		height: auto;
		overflow: visible;
	}
	&:hover .allprod__drop-list{
		opacity: 1;
		height: auto;
		overflow: visible;
		width: 270px;
	}
	&__drop-list{
		position: absolute;
		padding-top: 31px;
		width: 0;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
}
.allprod__drop{
	padding-top: 0px;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: all .5s;
}

//================


.wordpress{
	position: relative;
	&:hover .wordpress__drop{
		opacity: 1;
		height: auto;
		overflow: visible;
	}
	&:hover .wordpress__drop-list{
		opacity: 1;
		height: auto;
		overflow: visible;
		width: 270px;
	}
	&__drop-list{
		position: absolute;
		padding-top: 31px;
		width: 0;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
}
.wordpress__drop{
	padding-top: 0px;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: all .5s;
}
//=============

//pages drop list=================================================

.pages {
	position: relative;
	&:hover .pages__drop-inner {
		opacity: 1;
		height: auto;
	}
	&:hover .pages__drop-box{
		padding-top: 31px;
		opacity: 1;
		height: auto;
		overflow: visible;
	}
	&__drop-box {
		z-index: 10;
		position: absolute;
		max-width: 1140px;
		left: -474px;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
	&__drop-inner {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		padding: 30px;
		border-top: 1px solid $btn;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		opacity: 0;
		height: 0;
		overflow: hidden;
		transition: all .5s;
	}
}
.pages-mart {
	width: 433px;
	&__inner {
		display: flex;
		justify-content: start;
	}
	&__colon {
		width: 180px;
		&.pages-text li a{
			font-weight: 500;
			font-size: 15px;
			color: #54667a;
			text-transform: initial;
			margin-bottom: 4px;
		}
		& + .pages-mart__colon{
			margin-left: 40px;
		}
	}
}
.pages-title {
	font-size: 16px;
	color: #000;
	font-weight: 700;
	padding-bottom: 15px;
	border-bottom: 1px solid #eef1f3;
	margin-bottom: 20px;
}
.pages-dashboard {
	width: 163px;
	margin-left: 40px;
	&__colon {
		width: 163px;
		&.pages-text li a{
			font-weight: 500;
			font-size: 15px;
			color: #54667a;
			text-transform: initial;
			margin-bottom: 4px;
		}
	}
}
.pages-other {
	width: 415px;
	margin-left: 40px;
	&__inner {
		display: flex;
		justify-content: start;
	}
	&__colon {
		width: 172px;
		&.pages-text li a{
			font-weight: 500;
			font-size: 15px;
			color: #54667a;
			text-transform: initial;
			margin-bottom: 4px;
		}
		& + .pages-other__colon{
			margin-left: 40px;
		}
	}
}

.pages-mart__colon.pages-text li{
	display: block;
	margin-left: -10px;
}
.pages-dashboard__colon.pages-text li{
	display: block;
	margin-left: -10px;
}
.pages-other__colon.pages-text li{
	display: block;
	margin-left: -10px;
}
.pages-text li a{
	transition: all .5s;
}
.pages-mart__colon.pages-text li,
.pages-dashboard__colon.pages-text li,
.pages-other__colon.pages-text li{
	margin-left: -10px;

 a{
	padding: 10px 0px 10px 10px;
	display: flex;
	align-items: center;
 }
}
.pages-text li:hover{
	background-color: $btn;
	a{
		color: #fff;
	}
}



//==============
.call:hover .call__drop-list{
	opacity: 1;
	height: 100%;
	overflow: visible;
	width: auto;
}
.call {
	position: relative;
	&__drop-list {
		top: 6px;
		position: absolute;
		max-width: 370px;
		padding-top: 55px;
		z-index: 10;
		left: -32px;
		opacity: 0;
		height: 0;
		overflow: hidden;
		transition: all .5s;
		width: 0;
	}
	&__drop::before {
		top: 36px;
		left: 32px;
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid #0674ec;
	}
	&__drop-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 20px;
	}
	&__drop-title {
		display: block;
		width: 250px;
		@include f400;
		font-size: 18px;
		color: #000;
		
	}
	&__drop-view {
		padding-left: 21px;
		@include f400;
		font-size: 15px;
		width: 75px;
		display: inline-block;
		color: $btn;
	}
}



.call {
	&__drop-notif {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		border-top: 1px solid #eef1f3;
		margin-bottom: 20px;
	}
}
.notif-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.notif-user {
	width: 235px;
}
.notif-action {
	color: #747a86;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
	b{
		color: #333;
	}
}
.notif-place {
	@include f400;
	font-size: 15px;
	color: $btn;
	margin-bottom: 8px;
}
.notif-time {
	font-weight: 400;
	font-size: 14px;
	color: #747a86;
}
.notif-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	justify-content: space-around;
	align-items: center;
	display: flex;
	font-size: 15px;
}
.notif-4 .notif-icon{
	color: #91de75;
	background-color: #effaeb;
}
.notif-3 .notif-icon .lnr{
	fill:#ff6a6c;
	background-color: #fff0f0;
}
.notif-2 .notif-icon{
	color: #9573d0;
	background-color: #f1ecf9;
}
.notif-1 .notif-icon{
	color: #7db7f5;
	background-color: #e6f1fd;
}

//==================================

.message:hover .message__drop-box{
	opacity: 1;
	height: 100%;
	overflow: visible;
	width: auto;
}
.message {
	position: relative;
	&__drop-box {
		top: 6px;
		position: absolute;
		max-width: 370px;
		padding-top: 55px;
		z-index: 10;
		right: -24px;
		opacity: 0;
		height: 0;
		overflow: hidden;
		transition: all .5s;
		width: 0;
	}
	&__drop::before {
		top: 36px;
		right: 32px;
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid #0674ec;
	}
	&__drop-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 20px;
	}
	&__drop-title {
		display: block;
		width: 250px;
		@include f400;
		font-size: 18px;
		color: #000;
		
	}
	&__drop-view {
		padding-left: 21px;
		@include f400;
		font-size: 15px;
		width: 75px;
		display: inline-block;
		color: $btn;
	}
	&__drop-notif {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #eef1f3;
		margin-bottom: 20px;
		align-items: center;
		padding-top: 20px;
	}
}
.mess-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.mess-user {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
	
}
.mess-name {
	font-size: 16px;
	font-weight: 700;
	color: #333;
}
.mess-time{
	font-size: 14px;
	font-weight: 400;
}
.mess-time.active{
	color: $btn;
}
.mess-text {
	font-size: 15px;
	font-weight: 400;
	color: #555;
}
.mess-cont .mess-user .mess-name .lnr-envelope{
	margin-left: 10px;
	font-size: 15px;
	color: $btn;
}



//=====================
.basket:hover .basket__drop-box{
	opacity: 1;
	height: 100%;
	overflow: visible;
	width: auto;
}
.basket {
	position: relative;
	&__drop-box {
		top: 6px;
		position: absolute;
		max-width: 400px;
		padding-top: 55px;
		z-index: 10;
		right: -40px;
		opacity: 0;
		height: 0;
		overflow: hidden;
		transition: all .5s;
		width: 0;
	}
	&__drop::before {
		top: 36px;
		right: 32px;
    content: '';
    position: absolute;
    border: 10px solid transparent;
		border-bottom: 10px solid #0674ec;
	}
	&__drop-content{
		border-bottom: 1px solid #eef1f3;
		padding: 25px 25px 1px 25px;
	}
	&__drop-notif {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		align-items: center;
		padding-top: 20px;
	}
	&-info{
		width: 208px;
		padding-top: -2px;
	}
	&-category{
		font-size: 15px;
		font-weight: 400;
		color: #7347c1;
	}
	&-title{
		font-size: 16px;
		font-weight: 500;
		color: #000;
		margin-bottom: 4px;
		
	}
	&-theme{
		font-size: 16px;
		font-weight: 500;
		color: #000;
		margin-bottom: 12px;
	}
}
.basket-img {
	display: inline-block;
	width: 80px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-right: 13px;
}

.basket-action {
	width: 100%;
	display: inline-flex;
	button{
		width: 50%;
		border: none;
		height: 60px;
		color: #fff;
		&.cart{
			background-color: #7347c1;				
		}
		&.check{
			background-color: $btn;			
		}
	}
}
.basket-delete {
	margin-bottom: 10px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #f0ebf8;
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 8px;
}
.basket-price {
	min-width: 48px;
	height: 32px;
	border-radius: 16px;
	background-color: #e6f1fd;
	align-items: center;
	display: flex;
	justify-content: space-around;
}
.basket-total {
	display: flex;
	justify-content: flex-end;	
	align-items: center;
	padding: 7px 25px 11px 25px;
	text-align: right;
	font-size: 18px;
	color: #000;
	font-weight: 500;
	p{
		padding-right: 28px;
	}
}
