html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

a {
	display: inline-block;
	text-decoration: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $text;
	background-color: #fff;
	// то что ниже стандартно писать:
	overflow-x: hidden; // при включенном не работает анимация mixitup// НО, если виключить ,то на мобильном появится scroll--> поєтому добавляю к overflow-x: hidden; --> см ниже: position: relative; + min-width: 320px;(так пишут разработчики чтоби избежать проблем)
	position: relative;
	min-width: 320px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	min-width: 100%;
	padding: 0 30px;
}



.breadcrumbs {
	&__inner {
		padding: 0 0 20px;
	}

	&__list {
		li {
			display: inline-block;

			&+li {
				padding-left: 22px;
			}
		}
	}
}

.lnr {
	display: inline-block;
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: -0.05em;
}



.header__menu-list {
	li .drop-list {
		background-color: #fff;
		padding: 20px;
		border-top: 1px solid $btn;
		max-width: 270px;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		transition: all .5s;
		li {
			margin-bottom: 1px;
			margin-left: 0;
			width: 100%;
			a {
				text-transform: capitalize;
				color: $a;
				@include f400;
				font-size: 15px;
				padding: 12px 8px;
				display: flex;
				transition: all .5s;
			}
			&:hover{
				background-color: $btn;
				a{
					color: #fff;
				}
			}
		}
	}
}

.user__box{
	.drop-list {
		background-color: #fff;
		padding: 20px;
		border-top: 1px solid $btn;
		max-width: 270px;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		transition: all .5s;
		
		li {
			margin-bottom: 1px;
			margin-left: 0;
			width: 100%;
			a {
				text-transform: capitalize;
				color: $a;
				@include f400;
				font-size: 15px;
				padding: 12px 8px;
				display: flex;
				transition: all .5s;
			}
			&:hover{
				background-color: $btn;
				a{
					color: #fff;
				}
			}
		}
	}
}

.call{
	.drop-list {
		background-color: #fff;
		padding: 25px 25px 1px 25px;
		border-top: 1px solid $btn;
		max-width: 370px;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		transition: all .5s;
	}
}
.message{
	.drop-list {
		background-color: #fff;
		padding: 25px 25px 1px 25px;
		border-top: 1px solid $btn;
		max-width: 370px;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		transition: all .5s;
	}
}
.basket{
	.drop-list {
		background-color: #fff;
		
		border-top: 1px solid $btn;
		max-width: 370px;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		transition: all .5s;
	}
}