.register {
	background-color: #eff1f5;
	padding: 70px 0 120px;

	&__item {
		max-width: 555px;
		background-color: #fff;
		margin: 0 auto;
		padding: 55px 0 60px;
		border-radius: 4px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	}

	&__item-top {
		text-align: center;
		min-height: 120px;
		border-bottom: 1px solid #eff1f5;
		padding-left: 60px;
		padding-right: 60px;
	}

	&__item-title {
		font-size: 26px;
		@include f400;
		margin-bottom: 20px;
	}

	&__item-text {
		font-size: 16px;
		color: #555;
		@include f400;
	}
}


.register {
	&__item-content {
		padding: 27px 45px 0 45px;
		label {
			font-size: 16px;
			@include f500;
			color: #000;
		}
		form .data {
			background-color: #eff1f5;
			border: none;
			padding: 15px;
			display: block;
			width: 100%;
			margin-top: 12px;
			margin-bottom: 30px;
			&::placeholder {
				font-size: 16px;
				color: #898f96;
				@include f400;
			}
		}
	}
}
form{
	.register__item-btn{
		background-color: $btn;
		color: #fff;
		@include f500;
		text-align: center;
		width: 190px;
		padding: 15px;
		border-radius: 40px;
		border: 1px solid transparent;
		transition: all .5s;
		margin-bottom: 40px;
		&:hover{
			border: 1px solid $btn;
			color: $btn;
			background-color: #fff;
		}
	}	
}
