$bg: #eff1f5;
$fbg: #262b30;
$btn: #0674ec;
$text: #555555;
$green: #62d03b;
$title: #3c6490;
$grey: #bfcad7;
$red: #ff6a6c;
$icon: #7e8fa1;
$nav: #333;
$a: #54667a;

@mixin f400 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}
@mixin f500 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}
@mixin f700 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}